.input-text, .input-select, .input-color {
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 6px 10px;
  width: 100%;
  color: white;
}

.btn-primary {
  background: white;
  color: black;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.2s;
}

.btn-primary:hover {
  background: #ddd;
}

.btn-secondary {
  background: #222;
  border: 1px solid #444;
  color: white;
  padding: 6px;
  border-radius: 8px;
  transition: all 0.2s;
}

.btn-secondary:hover {
  background: #333;
}
